<%= form_with(model: thermo, local: true) do |form| %>
  <% if thermo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thermo.errors.count, "error") %> prohibited this thermo from being saved:</h2>

      <ul>
      <% thermo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
