<div class="panel panel-default acc-panel-div">
  <div class="panel-heading acc-panel-heading" role="tab" id="accordRunPalindrome">
    <h5 class="panel-title acc-panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRunPalindrome" aria-expanded="false" aria-controls="collapseRunPalindrome">
        Palindrome Detector
      </a>
    </h5>
  </div>
  <div id="collapseRunPalindrome" class="panel-collapse collapse acc-panel-collapse" role="tabpanel" aria-labelledby="accordRunPalindrome">
    <div class="panel-body acc-panel-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch.
    </div>
    <div class="algo-form-render-wrap">
      <%= render 'algos/form_run_palindrome' %>
    </div>
  </div>
</div>
