<div class="panel panel-default acc-panel-div">
  <div class="panel-heading acc-panel-heading" role="tab" id="accordRunWordSearch">
    <h5 class="panel-title acc-panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRunWordSearch" aria-expanded="false" aria-controls="collapseRunWordSearch">
        Sudoku
      </a>
    </h5>
  </div>
  <div id="collapseRunWordSearch" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordRunWordSearch">
    <div class="panel-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch.
    </div>
    <div class="algo-form-render-wrap">
      <%= render 'algos/form_run_sudoku' %>
    </div>
  </div>
</div>
