<div class="panel panel-default acc-panel-div">
  <div class="panel-heading acc-panel-heading" role="tab" id="accordRunWordRanker">
    <h5 class="panel-title acc-panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRunWordRanker" aria-expanded="false" aria-controls="collapseRunWordRanker">
        Word Ranker
      </a>
    </h5>
  </div>
  <div id="collapseRunWordRanker" class="panel-collapse collapse acc-panel-collapse" role="tabpanel" aria-labelledby="accordRunWordRanker">
    <div class="panel-body acc-panel-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch.
    </div>
    <div class="algo-form-render-wrap">

      <%= render 'algos/text_area_form', { form_klass: 'wordRankerForm', action_path_var: run_word_ranker_algos_path, submit_btn_var: 'Run Word Ranker' } %>

    </div>
  </div>
</div>
