<div class="runWordSearch algo-form-wrap">

  <%= form_with(url: run_word_search_algos_path, class: :'algo-form') do |f| %>
    <%= f.hidden_field :form_id, value: 'runWordSearch' %>

    <%= button_tag type: 'submit', class: "btn btn-primary algo-btn", id: "register-button" do %>
        <%= icon('fas', 'play-circle', 'Run Word Search') %>
    <% end %>

  <% end %>

</div>
