<h1>Algos</h1>


<!-- <div class="panel page-panel"> -->

  <div class="row wrapper-row">

    <div class="col-md-8">
      <div class="row profile-spacing">

        <div class="row">
          <div class="col-md-12 text-center">
            <h5 class="section-header">Black Board</h5>
          </div>
        </div>



        <div class="row">
          <div class="col-md-12">
            <h3>Render Results Here - Interactive Forms</h3>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-4">
      <div class="row profile-spacing">
        <!-- FAV HIDE TOTALS -->
        <%= render 'algos/nav' %>
      </div>
    </div>


  </div>

<!-- </div> -->
